body{
    margin: 0;
}

.weather-widget{
    width: 612px;
    height: 408px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    
}

.weather-widget__city-card{
    width: 204px;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-card-chicago{
    background-color: #00C0E2;
}

.city-card-seattle{
    background-color: #5AD998;
}

.city-card-brooklyn{
    background-color: #7558F8;
}

.city-card-portland{
    background-color: #E9C14D;
}

.city-card-schedule{
    justify-content: space-between;
    background-color: #E55679;
}

.city-card-sanjose{
    background-color: #CB70D6;
}

.city-card-schedule__img{
    margin-top: 25px;
    margin-right: 10px;
}

.city-card-schedule__schedule-table{
    width: 204px;
    height: 99px;
    background-color: #CB4C6C;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
}

.city-card-schedule__week-days-container{
    width: 160px;
    height: 67px;
    margin-left: 23px;
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.city-card-schedule__days-list{
    width: 155px;
    height: 68px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.days-list__list-text{
    font-size: 9pt;
}
 
.days-list__list-elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.days-list__list-img{
    margin: 0;
}

.city-card-chicago__img, .city-card-sanjose__img, .city-card-portland__img, .city-card-brooklyn__img, .city-card-seattle__img{
    padding-top: 2px;
    padding-bottom: 24px;
}

.city-card-sanjose__img{
    padding-top: 20px;
    padding-bottom: 32px;
}
