%sprite {
    background: url(../img/sprite.png);
}

%bottom-icon {
    @include flex(center, center);
    width: 30%;
    font-family: 'ProximaNova-Regular';
    font-weight: 500;
    font-size: 14px;
}