$body-bg-color: #4e5860;
$top-bg-color: #f1f8f9;
$bottom-bg-color: #2e3335;
$shadow-color: rgba(0, 0, 0, 0.15);
$pagination-color: #565a5b;
$pagination-color-active: #eee;
$date-bg-color: #54bae6;
$radius: 10px;
