body {
  font-size: 15pt;
  font-family: "Avenir Next", monospace;
  font-weight: 600;
  text-transform: uppercase;

  background-image: url(img/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.flex-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center; 
  overflow: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 830px;
}

.flex-item {
  display: flex;
  align-content: center;
  align-items: center;

  text-align: center;
  color: #ffffff;
  width: 274px;
  height: 274px;
}

.cont-1 {
  background-color: #06b3db;
}

.cont-2 {
  background-color: #4ed486;
}

.cont-3 {
  background-color: #6139f6;
}

.cont-4 {
  background-color: #e3b63d;
}

.cont-5 {
  background-color: #dc3d66;
}

.cont-6 {
  background-color: #db51e2;
}

.image-with-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 15%;
}

.large-weather-image {
  width: 110px;
}

.caption {
  margin-bottom: 10px;
}

/* Invisible elements before hover */

.hover-block {
  display: none;
  position: relative;
}

.hover-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0 30px;

  width: 100%;
  height: 100%;
}

.transparency-element {
  position: absolute;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  background: radial-gradient(at center,  #7c7c7c, #000000);
  opacity: 0.25;

  z-index: 1;
}

.hover-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  width: 20%;
  height: 65%;

  margin-top: 10px;

  z-index: 2;
}

.small-weather-image {
  width: 30px;
}

.day-of-week,
.temperature {
  font-size: 12pt;
}

/* Styles for hover */

.flex-item:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-item:hover .image-with-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: unset;
  padding-bottom: unset;
}

.flex-item:hover .large-weather-image {
  display: flex;
  
  width: 85px;
}

.flex-item:hover .caption {
  display: none;
}

.flex-item:hover .hover-block {
  display: flex;

  box-sizing: border-box;

  width: 100%;
  height: 90%;
}


