            body {
            height: 100%;
            background: url(img/cubes_background.png) no-repeat;
            background-size: cover;
        }
        
        .all {
            display: flex;
            flex-wrap: wrap;
            color: white;
            font-size: 14px;
            font-weight: bold;
            max-width: 615px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 95px;
            margin-bottom: 130px;
        }
        
        .cube {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 205px;
            height: 205px;
        }
        
        .c1 {
            background-color: #06b3db;
        }
        
        .c2 {
            background-color: #4ed486;
        }
        
        .c3 {
            background-color: #6139f6;
        }
        
        .c4 {
            background-color: #e3b63d;
        }
        
        .c5 {
            background-color: #dc3d66;
            justify-content: flex-end;
        }
        
        .c6 {
            background-color: #bd54cd;
        }
        
        .red_bottom {
            display: flex;
            justify-content: center;
            color: white;
            font-size: 10px;
            font-weight: bold;
            background-color: #b63356;
            width: 100%;
            height: 100px;
        }
        
        .day_weather {
            display: flex;
            flex-direction: row;
        }
        
        .day {
            margin: 5px;
        }
        
        .day img {
            width: 24px;
            .day {}