
/* Приводим браузерные стили в порядок */
@import url('normalize.css');

/* Добавляем необходимый шрифт*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

/*Добавляем фон и немножко кросбраузерности)*/
html { 
    background: url("../img/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/*оформляем сам виджет*/
main {
    background: no-repeat;
    background-image: url("../img/main_bg.png");
    background-size: cover; 
    margin: 7% 11% 7% 11%;
    padding: 10% 0 0 0;
}

/*верхняя часть виджета*/
.wdata {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin:0 10% 0 0;
}

/*секция с текущей датой*/
.w_date {
    margin: 20px 20px 0 0 ;
}
.cur_week_day {
    font-size: 30px;
}
.cur_date {
    font-size: 14px;
}

/*секция с температурой,локацией,ветром*/
.info {
    display: table-cell;
    text-align: center;
}
.temp {
    font-size: 92px;
    font-weight: 700;
}
.loc {
    font-size: 22px;
}
.wind {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.wind_speed {
    font-size: 29px;
    font-weight: 400;
}
.speed_format {
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 3px 0; 
    /*три пикселя выше нужны что бы стояли на одной линии значение и единицы измерения
    Верю в то что это баг шрифта, а не мои кривые руки)*/
}


/* Оформляем навбар*/
.days_nav {
    background:rgba(0,0,0,0.5);
    margin: 10% 0 0 0;
}
ul {
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}
li {
    font-size: 14px;
    display: table-cell;
    text-align: center;
    width:16%;
}
p {
    margin: 10px;
}

.icon {
    height: 40px;
}
.divider{
    border-left: 1px solid; 
    padding-left: 0.3em; 
}