@font-face {
  font-family: 'Avenir Next Bold';
  src: url('fonts/AvenirNext-Bold.ttf') format('truetype');
}

section {
  margin: 0px;
  padding: 95px;
  width: 610px;
  height: 410px;
  background-image: url(img/background.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cub1 {
  width: 203px;
  height: 205px;
  background-color: rgb(6, 179, 219);
  text-align: center;
}
.cub2 {
  width: 204px;
  height: 205px;
  background-color: rgb(78, 212, 134);
  text-align: center;
}
.cub3 {
  width: 203px;
  height: 205px;
  background-color: rgb(97, 57, 246);
  text-align: center;
}
.cub4 {
  width: 203px;
  height: 205px;
  background-color: rgb(227, 182, 61);
  text-align: center;
}
.cub5 {
  width: 204px;
  height: 205px;
  background-color: rgb(220, 61, 102);
  text-align: center;
}
.cub6 {
  width: 203px;
  height: 205px;
  background-color: rgb(189, 84, 205);
  text-align: center;
}
.cub1 img, .cub2 img, .cub3 img {
  margin-top: 43px;
  width: 90px;
  height: 90px;
  margin-bottom: 7px;
}
.cub4 img, .cub6 img {
  margin-top: 39px;
  width: 90px;
  height: 90px;
  margin-bottom: 7px;
}
#fifthimg {
  width: 73px;
  height: 74px;
  margin-top: 17px;
}
.cub5 > div {
  width: 144px;
  height: 90px;
  margin-top: 10px;
  background-color: rgb(189, 53, 89);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
.forflex {
  display: flex;
  justify-content: space-between;
}
.smallimg img {
  width: 20px;
  height: 20px;
}
p {
  color: white;
  display: inline;
  font-family: 'Avenir Next Bold', 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
.week p, .degree p {
  font-size: 11px;
}

