@font-face {
  font-family: 'AvenirNext-Bold';
  src: local('AvenirNext-Bold'),
    url('https://nomail.com.ua/files/woff/88da9ccecc9a384876ccf7c53eccec2d.woff')
      format('woff');
}

body {
  font-family: 'AvenirNext-Bold';
  font-size: 14px;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

/*                           */

.bg1 {
  background: url('./images/bg_1.png') no-repeat;
  height: 600px;
  width: 800px;
}

.bg2 {
  background: url('./images/bg_2.png') no-repeat;
  height: 600px;
  width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget {
  display: flex;
  flex-direction: column;
  width: 613px;
}

.widget__row {
  display: flex;
  flex-direction: row;
}

/*           about cards               */
.card {
  max-height: 203px;
  max-width: 203px;
  height: 203px;

  flex: 1 1 203px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.card__img-wrapper {
  width: 95px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.card__info {
  margin-top: 26px;
}

.card__1 {
  background-color: #06b3db;
  border-top: #1f5c54 1px solid;
  border-right: #1fbbdf 1px solid;
  border-bottom: #0ba4c7 1px solid;
}

.card__2 {
  background: #4ed486;
  border-top: #416e4a 1px solid;
  border-right: #3f5c8c 1px solid;
  border-bottom: #4ac17c 1px solid;
  border-left: #36a06e 1px solid;
}

.card__3 {
  background: #6139f6;
  border-top: #7d5cf8 1px solid;
  border-bottom: #633bf6 1px solid;
  border-left: #7d5cf8 1px solid;
}

.card__4 {
  background: #e3b63d;
  border-top: #ecce7c 1px solid;
  border-right: #e6be52 1px solid;
  border-bottom: #534916 1px solid;
}

.card__5 {
  background: #bd54cd;
  border-top: #c66ed4 1px solid;
  border-bottom: #4a2d47 1px solid;
  border-left: #c467d2 1px solid;
}

.card__more {
  background: #bd3559;
  border-top: #e77c98 1px solid;
  border-right: #9a3878 1px solid;
  border-bottom: #5c2928 1px solid;
  border-left: #a7324e 1px solid;
}

.card__more__top {
  height: 105px;
  background: #dc3d66;
  min-width: 203px;
  flex: 1 1 203px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card__more__img-wrapper {
  width: 67px;
  height: 65px;
}

.card__more__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 1 203px;
  min-width: 203px;
}

.card__more__day {
  flex: 1;
  max-width: 40px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__more__image {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
}
